<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<input type="file" accept="video/*" capture="camera"> 
</body>
</html>
<script>
	document.getElementById('file').addEventListener('change', function() {
	var reader = new FileReader();
	reader.onload = function (e) {
	compress(this.result);
	};
	reader.readAsDataURL(this.files[0]);
	}, false);	

	
	var compress = function (res) {
		var img = new Image(),
		maxH = 160;
		img.onload = function () {
		var cvs = document.createElement('canvas'),
		ctx = cvs.getContext('2d');
		if(img.height > maxH) {
		img.width *= maxH / img.height;
		img.height = maxH;
		}
		cvs.width = img.width;
		cvs.height = img.height;
		ctx.clearRect(0, 0, cvs.width, cvs.height);
		ctx.drawImage(img, 0, 0, img.width, img.height);
		var dataUrl = cvs.toDataURL('image/jpeg', 0.6);
		// 上传略
		}
		img.src = res;
	}
</script>